<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <div class="navbar">
            <ul class="nav">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="#">News</a></li>
                <li><a href="../contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="main">
            <div class="main-left">
                <h1>Features</h1>
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="main-right">
                <div class="img"><img src="../static/Voting.jpg" alt="Polling Image"></div>
                <h3>
                    Voting made easy
                </h3>
            </div>
        </div>
    </body>
</html>